@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1F2129;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #444758;
    border-radius: 9999px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .open {
    animation: bounce-in 0.07s ease-in;
  }
  
  .close {
    animation: bounce-out 0.07s ease-in;
  }  

  .open-accordion {
    -webkit-animation-name: slide-from-bottom;
    -webkit-animation-duration: 1.4s;
    animation-name: slide-from-bottom;
    animation-duration: 1.4s;
  }